body {
    background-image: url('../img/fundo_preto.jpg');
    background-size: cover; /* Garantir que a imagem ocupe toda a tela */
    background-position: center; /* Centralizar a imagem */
    background-attachment: fixed; /* Efeito de paralaxe se necessário */
    height: 100%;
}

.img-logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%; /* Torna a imagem redonda */
}

.menu-links .menu-item {
    background-color: #000407;
    padding: 5px 10px; /* Ajusta o padding para caber o tamanho da letra */
    border-radius: 10px; 
    color: #ffffff;
    text-decoration: none;
    display: right;
    margin-left: 0px; 
    font-size: 14px;
}

.navbar-brand {
    margin-left: 20px; /* Espaçamento entre os links do menu */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

