 body{
    background-color:#E6E6E6 !important ;
}
.border-custom {

    border: 2px solid #38589D;
}

.img-logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%; /* Torna a imagem redonda */
}


.menu-links .menu-item {
    background-color: #B2BED7;
    padding: 5px 10px; /* Ajusta o padding para caber o tamanho da letra */
    border-radius: 5px; 
    color: #000;
    text-decoration: none;
    display: right;
    margin-left: 0px; 
    font-size: 14px;
}


.navbar-brand {
    margin-left: 20px; /* Espaçamento entre os links do menu */
}

/* Estilização do Card */
.card {
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Arredonda as bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra sutil */
    transition: transform 0.2s, box-shadow 0.2s; /* Transição para efeito de hover */
}

/* Efeito Hover no Card */
.card:hover {
    transform: translateY(-10px); /* Eleva o card no hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

/* Imagem do Card */
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
}

/* Título do Card */
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #38589D; /* Cor do título */
}

/* Texto do Card */
.card-text {
    color: #555; /* Cor do texto */
}

/* Botão do Card */
.btn-primary {
    background-color: #38589D; /* Cor personalizada do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Arredonda o botão */
    transition: background-color 0.2s; /* Transição para efeito de hover */
    display: block; /* Faz o botão ocupar toda a largura disponível */
    width: 100%; /* Estica o botão para preencher a largura do container */
    text-align: center; /* Centraliza o texto dentro do botão */
}


/* Efeito Hover no Botão */
.btn-primary:hover {
    background-color: #2c4678; /* Tom mais escuro para o hover */
}

/* Container para centralizar os cards */
.container {
    max-width: 1200px;
}

/* Margem na seção */
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

